body {
	background: #f0efef;
	margin: 40px 50px;
	color: #666;
	font-family: "Proxima Nova", Proximanova, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
	font-weight: 100;
	line-height: 1.3;
}

html {
	max-width: 1500px;
	min-width: 1200px;
	margin: auto;
}

div, span, p, article, header, footer, input, textarea {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

a {
	text-decoration: none;
	color: #666;
}

header {
	text-align: center;
	overflow: auto;
}

	header #nav {
		width: 400px;
		margin: auto;
		margin-top: 35px;
	}

		header #nav div {
			float: left;
			width: 33%;
			font-size: 22px;
			cursor: pointer;
		}

		header #nav div:hover {
			
		}

	header #fixed-nav {
		position: fixed;
		opacity: 0;
		top: -47px;
		left: 0;
		padding: 10px 30px;
		width: 100%;
		background: #d36a4d;
		z-index: 100;
	}

		header #fixed-nav img {
			float: left;
		}

		header #fixed-nav #nav-right {
			float: right;
			width: 340px;
		}

		header #fixed-nav #nav-right div {
			float: left;
			font-size: 22px;
			width: 33%;
			color: #fff;
			padding: 4px 0px;
			line-height: 1.2;
			cursor: pointer;
		}

		header #fixed-nav #nav-right div.active-nav {
			background: rgba(44,55,71, 1);
			padding: 4px 0px;
		}


#wrapper {
	margin: 15px auto;
	padding: 30px;
	overflow: auto;
}

	h1 {
			text-align: center;
			font-size: 36px;
		}

	#name {
		width: 100%;
		max-height: 700px;
		min-height: 500px;
		background: #2c3747;
		text-align: center;
		font-size: 72px;	
		position: relative;
	}
	#triangle-down {
		margin: auto;
		width: 0;
		height: 0;
		border-left: 18px solid transparent;
		border-right: 18px solid transparent;
		border-top: 15px solid #2c3747;
	}

		#name p {
			width: 100%;
			position: absolute;
			top: 33%;
			margin: auto;
			color: #fff;
		}

	#about {
		width: 70%;
		margin: 50px auto;
		overflow: hidden;
	}

		#about #left {
			float: left;
			width: 30%;
			text-align: center;
		}

		#about div:last-child {
			float: right;
			width: 70%;
		}

		#about img {
			margin: 28px 0px 18px 0px;
		}

		#about p {
			font-size: 22px;
		}

		#resume {
			color: #fff;
			background: rgba(44,55,71, 1);
			padding: 4px 10px;
			border-radius: 25px;
			font-size: 22px;
		}

		#resume:hover {
				background: #d36a4d;
		}

	#work {
		margin: 50px auto;
		overflow: auto;
	}

		#work div.project-thumb {
			width: 33.3337%;
			height: auto;
			float: left;
			position: relative;
			overflow: hidden;
			cursor: pointer;
			line-height: 0;
		}

			#work div.project-thumb img {
				width: 100%;
				height: auto;
			}

			#work div.project-thumb:last-child {
				margin-right: 0px;
			}


		#work .project-thumb-description {
			position: absolute;
			bottom: -175px;
			left: 0px;
			opacity: 0;
			width: 100%;
			height: 125px;
			padding: 25px;
			color: #111;
			background: rgba(255,255,255, 0.85);
			line-height: 1.3;
		}

		#work div.project-thumb.project-thumb-description:hover {
			
		}

			#work .project-thumb-description div {
				font-size: 20px;
				font-weight: bold;
				margin-bottom: 8px;
			}

#tag-nav {
	width: 344px;
	text-align: center;
	margin: 0px auto 40px auto;
	overflow: auto;
	font-size: 18px;
}

	.active-sort {
		background: rgba(44,55,71, 1);
		color: #fff;
	}

	#tag-nav div {
		padding: 3px 15px;
		float: left;
		cursor: pointer;
	}


#project-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 0px;
	display: none;
	opacity: 0;
	z-index: 2000;
	padding: 50px;
}

	#project-bg {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 1000;
		background: rgba(0, 0, 0, 0.7);
		opacity: 0;
		display: none;
	}

	#project-container {
		background: #f0efef;
		padding: 50px 80px;
		overflow: auto;
	}

	.pc-left {
		width: 60%;
		float: left;
	}

	.pc-left-slider {
		width: 37%;
		float: left;
		margin-left: 13%;
	}

		.flexslider {
			background: none !important;
			border: none !important;
			box-shadow: none !important;
		}

		.site-link {
			color: #fff;
			background: rgba(44,55,71, 1);
			padding: 5px 10px;
			border-radius: 25px;
		}

	.pc-right {
		width: 35%;
		float: right;
		padding: 0px 15px;
	}

	#project-wrapper #close {
		text-align: center;
		float: right;
		color: #fff;
		padding: 5px 10px;
		background: #d36a4d;
		width: 80px;
		font-size: 22px;
	}


#close {
	cursor: pointer;
}


//CONTACT FORM

#email-form {
	
}

	#email-form input {
		border-radius: 5px;
		border: 1px solid #ccc;
		padding: 8px 10px;
		width: 100%;
		font-size: 20px;
	}

	#email-form textarea {
		border-radius: 5px;
		border: 1px solid #ccc;
		padding: 5px 10px;
		width: 100%;
		font-size: 16px;
	}

	#email-form #submit {
		float: right;
		width: 35%;
		color: #fff;
		background: rgba(44,55,71, 1);
		cursor: pointer;
	}

	::-webkit-input-placeholder {
	   color: #999;
	   font-size: 20px;
	}

	:-moz-placeholder { /* Firefox 18- */
	   color: #999;
	   font-size: 20px;
	}

	::-moz-placeholder {  /* Firefox 19+ */
	   color: #999;
	   font-size: 20px;
	}

	:-ms-input-placeholder {  
	   color: red;  
	}

	#social-icons {
			width: 100%;
			text-align: center;
			font-size: 50px;
			position: relative;
			z-index: 10;
		}

			#social-icons a {
				color: #2c3747;
				opacity: 0;
			}

			#social-icons a:hover {
				color: #d36a4d;
			}


/*MOBILE*/

@media only screen and (max-width: 1100px) {

	html {
		max-width: 100%;
		min-width: 100%;
	}

	body {
		margin: 30px 40px;
	}

	#fixed-nav, #tag-nav, #triangle-down, #about h1, #work h1 {
		display: none;
	}

	#work div.project-thumb {
		width: 50%;
		height: auto;
		float: left;
		position: relative;
		overflow: hidden;
		cursor: pointer;
		line-height: 0;
	}

		#work div.project-thumb.project-thumb-description {
			position: absolute;
			bottom: 0px;
			left: 0px;
			opacity: 0;
			width: 100%;
			height: 125px;
			padding: 25px;
			color: #111;
			background: rgba(255,255,255, 0.85);
			line-height: 1.3;
		}

	#wrapper {
		margin: 0px;
		padding: 0px;
	}

	#name {
		display: none;
	}

	#about {
		width: 90%;
		margin: 50px auto;
		overflow: hidden;
	}

		#about #left {
			float: left;
			width: 30%;
			text-align: center;
		}

		#about div:last-child {
			float: left;
			width: 70%;
		}

		#about img {
			margin: 28px 0px 18px 0px;
		}

		#about p {
			font-size: 22px;
		}

		#resume {
			color: #fff;
			background: rgba(44,55,71, 1);
			padding: 4px 10px;
			border-radius: 25px;
			font-size: 22px;
		}

		#resume:hover {
				background: #d36a4d;
		}

}

@media only screen and (max-width: 925px) {
	body {
		margin: 30px 0px;
	}
	#about div:last-child, #nav, #about img, #contact #email-form, #contact h1 {
			display: none;
	}

	#about #left {
		width: 100%;
		text-align: center;
		margin: auto;
	}

	#work div.project-thumb {
		width: 100%;
		height: auto;
		float: left;
		position: relative;
		overflow: hidden;
		cursor: pointer;
		line-height: 0;
	}
}



