body {
	background: #f0efef;
	color: #666;
	font-weight: 100;
	line-height: 1.4;

	margin: 0px;
	padding: 0px;
	/*-webkit-font-smoothing:antialiased;*/
}

html {
	max-width: 1500px;
	/*min-width: 1200px;*/
	margin: auto;
}

.stop-scrolling {
	height: 100%;
	overflow: hidden;
}

div, span, p, article, header, footer, input, textarea, a {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

a {
	text-decoration: none;
	color: #666;
}

header {
	text-align: center;
	overflow: auto;
	margin-top: 40px;
}

	header #logo {
		width: 70px;
		height: 50px;
	}

	header #name {
		font-size: 24px;
		margin: 10px 0px;
	}

	header #fixed-nav {
		position: fixed;
		opacity: 0;
		top: -47px;
		left: 0;
		padding: 10px 30px;
		width: 100%;
		background: #d36a4d;
		z-index: 100;
	}

		header #fixed-nav img {
			float: left;
		}

		header #fixed-nav #nav-right {
			float: right;
			width: 340px;
		}

		header #fixed-nav #nav-right div {
			float: left;
			font-size: 22px;
			width: 33%;
			color: #fff;
			padding: 4px 0px;
			line-height: 1.2;
			cursor: pointer;
		}

		header #fixed-nav #nav-right div.active-nav {
			background: rgba(44,55,71, 1);
			padding: 4px 0px;
		}


#wrapper {
	margin: 20px 5%;
	overflow: auto;
}

	.section-title {
			text-align: center;
			font-size: 34px;
			margin-bottom: 20px;
		}

	#triangle-down {
		margin: auto;
		width: 0;
		height: 0;
		border-left: 18px solid transparent;
		border-right: 18px solid transparent;
		border-top: 15px solid #2c3747;
	}

		#name p {
			width: 100%;
			position: absolute;
			top: 33%;
			margin: auto;
			color: #fff;
		}

	#about {
		width: 65%;
		margin: 50px auto;
		padding: 10px 0px;
		overflow: hidden;
		text-align: center;
		font-size: 16px;
	}

		#about img {
			margin: 10px 0px 0px 0px;
		}

		#about p:first-of-type {
			font-size: 20px;
			font-weight: normal;
		}


		#resume {
			color: #fff;
			width: 100px;
			background: rgba(44,55,71, 1);
			padding: 4px 10px;
			margin: 45px auto 0px auto;
			display: block;
			border-radius: 25px;
			font-size: 18px;
		}

		#resume:hover {
				background: #d36a4d;
		}

	#work {
		margin: 0px auto 50px auto;
		overflow: auto;
	}

		#work div.project-thumb {
			width: 33.3337%;
			height: auto;
			float: left;
			position: relative;
			overflow: hidden;
			cursor: pointer;
			line-height: 0;
		}

			#work div.project-thumb img {
				width: 100%;
				height: auto;
			}

			#work div.project-thumb:last-child {
				margin-right: 0px;
			}


		#work .project-thumb-description {
			position: absolute;
			bottom: -175px;
			left: 0px;
			opacity: 0;
			width: 100%;
			height: 125px;
			padding: 25px;
			color: #111;
			background: rgba(255,255,255, 0.85);
			line-height: 1.3;
		}

		#work div.project-thumb.project-thumb-description:hover {
			
		}

			#work .project-thumb-description div {
				font-size: 20px;
				font-weight: bold;
				margin-bottom: 8px;
			}

#tag-nav {
	width: 347px;
	text-align: center;
	margin: 10px auto 25px auto;
	overflow: auto;
	font-size: 18px;
}

	.active-sort {
		background: rgba(44,55,71, 1);
		color: #fff;
	}

	#tag-nav div {
		padding: 3px 14px;
		float: left;
		cursor: pointer;
	}

	#tag-nav div:hover {
		background: #d36a4d;
		color: #fff;
	}


#project-wrapper {
	position: absolute;
	overflow: auto;
	top: 0;
	left: 0;
	width: 100%;
	height: 0px;
	display: none;
	opacity: 0;
	z-index: 2000;

	overflow-y: scroll; /* has to be scroll, not auto */
  	-webkit-overflow-scrolling: touch;
}

	#project-bg {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 1000;
		background: rgba(0, 0, 0, 0.7);
		opacity: 0;
		display: none;
	}

	#project-container {
		background: #f0efef;
		position: absolute;
		overflow: auto;
		width: 100%;
		height: 100%;
		clear: both;
	}

	.pc-left {
		width: 60%;
		float: left;
		padding: 80px 50px;
	}

		.pc-left img {
			width: 100%;
			margin-bottom: 30px;
		}

	.pc-left-slider {
		width: 37%;
		float: left;
		margin-left: 13%;
		padding: 80px 50px;
		overflow: auto;
	}

		.flexslider {
			background: none !important;
			border: none !important;
			box-shadow: none !important;
		}

		.site-link {
			color: #fff;
			background: #d36a4d;
			padding: 5px 10px;
			border-radius: 25px;
			margin-bottom: 30px;
			display: inline-block;
			font-weight: normal;
		}

	.pc-right {
		width: 40%;
		height: 100%;
		float: right;
		padding: 80px 60px;
		color: #ddd;
		background: rgba(44,55,71, 1);
	}

		.pc-right p:first-child {
			color: #d36a4d;
			font-weight: normal;
			font-size: 20px;
			letter-spacing: 1px;
			text-transform: uppercase;
			margin-top: 0px;
		}

		.pc-right span {
			margin: 0px 0px 0px 10px;
			opacity: 0.7;
			font-size: 14px;
		}

		.pc-right div.description-title {
			width: 100%;
			padding: 8px 10px 5px 10px;
			margin: 8px 0px;
			background: rgba(0,0,0, 0.5); 
			font-size: 16px;
			font-weight: normal;
			opacity: 0.7;
			letter-spacing: 1px;
			text-transform: uppercase;
		}

	#close {
		text-align: center;
		position: absolute;
		top: 0;
		right: 0;
		color: #fff;
		padding: 5px 10px;
		background: #d36a4d;
		width: 80px;
		font-size: 22px;
		font-weight: normal;
	}


#close {
	cursor: pointer;
}


/*CONTACT FORM*/

footer {
	background: rgba(44,55,71, 1);
	padding: 30px 0px 70px 0px;
}

	#email-form input {
		border-radius: 5px;
		border: 1px solid #ccc;
		padding: 8px 10px;
		width: 100%;
		font-size: 20px;
		margin-top: 10px;
	}

	#email-form textarea {
		border-radius: 5px;
		border: 1px solid #ccc;
		padding: 5px 10px;
		width: 100%;
		font-size: 16px;
	}

	#email-form #submit {
		float: right;
		width: 35%;
		color: #fff;
		background: #d36a4d;
		cursor: pointer;
		border: 0;
	}

	::-webkit-input-placeholder {
	   color: #999;
	   font-size: 20px;
	}

	:-moz-placeholder { /* Firefox 18- */
	   color: #999;
	   font-size: 20px;
	}

	::-moz-placeholder {  /* Firefox 19+ */
	   color: #999;
	   font-size: 20px;
	}

	:-ms-input-placeholder {  
	   color: red;  
	}

	#social-icons {
			width: 100%;
			text-align: center;
			font-size: 50px;
			position: relative;
			z-index: 10;
		}

			#social-icons a {
				color: #f0efef;
				opacity: 0;
			}

			#social-icons a:hover {
				color: #d36a4d;
			}


/*MOBILE*/

@media only screen and (max-width: 1000px) {

	html {
		max-width: 100%;
		min-width: 100%;
	}

	.pc-left, .pc-right {
		width: 100%;
		padding: 50px;
	}

	.pc-left-slider {
		width: 100%;
		float: left;
		margin-left: 0;
		padding: 0px 25%;
	}

	#fixed-nav, #about h1, #work h1 {
		display: none;
	}

	#work {
		margin: 30px auto 0px auto;
	}

	#work div.project-thumb {
		width: 50%;
		height: auto;
		float: left;
		position: relative;
		overflow: hidden;
		cursor: pointer;
		line-height: 0;
	}

		#work div.project-thumb.project-thumb-description {
			position: absolute;
			bottom: 0px;
			left: 0px;
			opacity: 0;
			width: 100%;
			height: 125px;
			padding: 25px;
			color: #111;
			background: rgba(255,255,255, 0.85);
			line-height: 1.3;
		}

	#wrapper {
		margin: 0px;
		padding: 0px;
	}

	#about {
		width: 90%;
		margin: 50px auto;
		overflow: hidden;
		font-size: 16px;
	}

		#about p:first-of-type {
			font-size: 20px;
			font-weight: normal;
		}

		#resume {
			color: #fff;
			background: rgba(44,55,71, 1);
			padding: 4px 10px;
			border-radius: 25px;
			font-size: 22px;
		}

		#resume:hover {
				background: #d36a4d;
		}

}

@media only screen and (max-width: 800px) {
	footer {
		padding: 30px 0px;
	}
	#nav, #contact #email-form, #contact h1, #about br, #tag-nav {
		display: none;
	}

	#about #left {
		width: 100%;
		text-align: center;
		margin: auto;
	}

	#work div.project-thumb {
		width: 100%;
		height: auto;
		float: left;
		position: relative;
		overflow: hidden;
		cursor: pointer;
		line-height: 0;
	}

	.pc-left {
		padding: 40px 20px;
	}

	.pc-right {
		overflow: hidden;
		height: auto;
		padding: 30px 20px 60px 20px;
	}

	#social-icons a {
		color: #f0efef;
		opacity: 1;
	}
}



